@media only screen and (max-width: 1000px){
  .offer{
  	display: block;
  	min-width: 190px;

  }
}

@media only screen and (max-width: 800px){
  nav{
    display: none;
  }

  .content{
  	padding: 3rem 0;
  }
}

@media only screen and (max-width: 600px){
  input [type="text"]{
  	padding: 15px 100px 15px 15px;

  }

}

@media only screen and (max-width: 320px){
  .content{
  	padding: 0.75rem 0;

  }

}